<!-- DOC: index.html -->
<html>
<head>
	<!--The title for the page, which will be seen at the top of the browser and in bookmarks -->
	<title> HOST2016 - Welcome from the Chairman </title>
</head>

<body>
	<!-- Section 1: Header -->
		<!-- Section 1a: White Div -->

		<!-- Section 1b: Host2016logo.png -->


	<!-- Section 2: Navigation Bar -->
		<!-- Section 2a: Unifying Nav Line -->

		<!-- Section 2b: Welcome Nav Point -->
			<!-- Text -->

			<!-- Circle -->

		<!-- Section 2c: Paperless Bid Nav Point -->
			<!-- Text -->

			<!-- Circle -->

		<!-- Section 2d: Submitting A Bid Nav Point -->
			<!-- Text -->

			<!-- Circle -->

		<!-- Section 2e: logo.png -->

	<!-- Section 3: Body -->
		<!-- Section 3a: backgroundimage.jpg -->

		<!-- Section 3b: White text canvas -->

		<!-- Section 3c: Text -->
			<!-- Header Text -->

			<!-- Paragraph Text -->

		<!-- Section 3d: downloadRFP.png -->


	<!-- Section 4: Footer -->

		<!-- Section 4a: Navy Blue Div -->

		<!-- Section 4b: White Copyright Text -->

</body>


</html>