<!-- DOC: index.html -->
<html>
<head>
	<!--The title for the page, which will be seen at the top of the browser and in bookmarks -->
	<title> HOST2016 - Welcome from the Chairman </title>
	<!-- Link this HTML template to CSS stylesheet -->
	<!-- Laptop -->
	<link rel="stylesheet" type="text/css" href="/Users/SeestheEnemy/Code/DNC/Front End Exercise/static/host2016_style.css"> 
	<!-- Desktop -->
	<link rel="stylesheet" type="text/css" href="/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/host2016_style.css">
</head>

<body>
	<!-- Section 1: Banner -->
		<!-- Section 1a: White Div which will serve as the banner's background -->
		<div class="banner">
			<!-- Section 1b: Host2016logo.png -->	
			<img src="/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/Host2016logo.png" alt="HOST 2016" id="banner_img"/>		
		</div>

	<!-- Section 2: Navigation Bar -->
		<!-- Section 2a: Unifying Nav Line -->
		<div class="navbar"></div>
		<!-- Section 2b: Welcome Nav Point -->
			<!-- Text -->
			<h3 id="navpoint1"> WELCOME </h3>
			<!-- Circle One -->
			<div id="circle1"></div>
			<!-- Marker 1: logo.png. Creating three of these because we will be hiding them with javascript -->
			<img src="/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/logo.png" alt="logo.png" id="navpoint_marker1"/>
		<!-- Section 2c: Paperless Bid Nav Point -->
			<!-- Text -->
			<h3 id="navpoint2"> PAPERLESS BID </h3>
			<!-- Circle Two -->
			<div id="circle2"></div>
			<!-- Marker 2: logo.png. Creating three of these because we will be hiding them with javascript -->
			<img src="/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/logo.png" alt="logo.png" id="navpoint_marker2"/>
		<!-- Section 2d: Submitting A Proposal Nav Point -->
			<!-- Text -->
			<h3 id="navpoint3"> SUBMITTING A PROPOSAL </h3>
			<!-- Circle Three -->
			<div id="circle3"></div>
			<!-- Marker 2: logo.png. Creating three of these because we will be hiding them with javascript -->
			<img src="/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/logo.png" alt="logo.png" id="navpoint_marker3"/>

	<!-- Section 3: Body -->

		<!-- Section 3a: White text canvas -->
		<div id="canvas"></div>
		<!-- Section 3b: Text -->
			<!-- Header Text -->
			<!-- <h1> WELCOME FROM THE CHAIRMAN </h3> -->
			<!-- Paragraph Text -->

		<!-- Section 3c: downloadRFP.png -->


	<!-- Section 4: Footer -->

		<!-- Section 4a: Navy Blue Div -->

		<!-- Section 4b: White Copyright Text -->

</body>


</html>