<!-- DOC: index.html -->
<html>
<head>
	<!--The title for the page, which will be seen at the top of the browser and in bookmarks -->
	<title> HOST2016 - Welcome from the Chairman </title>
	<!-- Link this HTML template to CSS stylesheet -->
	<!-- Laptop -->
	<link rel="stylesheet" type="text/css" href="/Users/SeestheEnemy/Code/DNC/Front End Exercise/static/host2016_style.css"> 
	<!-- Desktop -->
	<link rel="stylesheet" type="text/css" href="/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/host2016_style.css">
</head>

<body>
	<!-- Section 1: Banner -->
		<!-- Section 1a: White Div which will serve as the banner's background -->
		<div class="banner">
			<!-- Section 1b: Host2016logo.png -->	
			<img src="/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/Host2016logo.png" alt="HOST 2016" id="banner_img"/>		
		</div>

	<!-- Section 2: Background -->
		<!-- Section 2a: backgroundimage.jpg -->
		<div class="background">
			<img  src="/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/backgroundimage.jpg" alt="background image" id="background_img"/>
		</div>
	
	<!-- Section 3: Navigation Bar -->
		<!-- Section 3a: Unifying Nav Line -->

		<!-- Section 3b: Welcome Nav Point -->
			<!-- Text -->

			<!-- Circle -->

		<!-- Section 3c: Paperless Bid Nav Point -->
			<!-- Text -->

			<!-- Circle -->

		<!-- Section 3d: Submitting A Bid Nav Point -->
			<!-- Text -->

			<!-- Circle -->

		<!-- Section 3e: logo.png -->

	<!-- Section 4: Body -->

		<!-- Section 4a: White text canvas -->

		<!-- Section 4b: Text -->
			<!-- Header Text -->

			<!-- Paragraph Text -->

		<!-- Section 4c: downloadRFP.png -->


	<!-- Section 5: Footer -->

		<!-- Section 5a: Navy Blue Div -->

		<!-- Section 5b: White Copyright Text -->

</body>


</html>