/* DOC: host2016_style.css
Stylist notes:
Fonts used:
Oswald Regular (Google)
	Nav, RFP— 24 pt.
	Section Headers — 30 pt.
Lato Regular (Google)
	Body copy — 13 pt.

Colors:
Light Blue: #00aef3
Navy: #0f2446
*/


/* SECTION 1: BANNER */
/*===================*/

/* Creating a style for the banner. I'm using class here instead of ID, since I will be using the same banner across all three pages.*/
.banner {
	/* The color of the background for the banner is going to be white, but I need to set it to a color that I can see while adjusting it, since the default background of the page is white. Since the default background color is white, and the Host2016logo.png banner image is transparent, I could just place the image without creaing a white background, but I conceptually like the idea having a div that serves as the complete banner, image, background and all. */
	background-color: grey; 
	/* Setting the position of the white div serving as the background of the banner relative to the html document */
	position: static;
	/* Positioning the banner at the top of the page */
	top: 0;
    left: 0;
    right: 0;
    /* Setting how tall I want the banner to be. Using 'em' measurement to make it responsive. By not declaring a width, the banner should default to spanning the full width of the page. */
    height: 7em;
    width: 100%;
    /* Making sure the banner background is always the bottom layer */
    z-index: -1;
    /* make subsequent content align closely. */
    margin-bottom: 0px;
    /* Center the content inside */
    padding: 1em;
}

/* Styling and positioning of HOST 2016 banner image */
#banner_img	{
	/* Centering banner image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Centering banner image vertically. Using 'em' measurement to make it responsive */
	margin-top: 1em;

}



/* SECTION 2: Background */
/*=======================*/

/* Sizing and Positioning of background image */
#background_img	{
	/* setting image the full width of the page */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/* Determine the height of the background image. Using em to make it responsive. */
	height: 80%;
    /* Making sure the background image is always the bottom layer */
    z-index: -1;
}



/* SECTION 3: Navigation Bar */
/*===========================*/


/* SECTION 4: Body */
/*=================*/



/* SECTION 5: Footer */
/*===================*/
/* we are going to tell the footer at the bottom to clear: both; assuming we float the elements above*/

