/* DOC: host2016_style.css
Stylist notes:
Fonts used:
Oswald Regular (Google)
	Nav, RFP— 24 pt.
	Section Headers — 30 pt.
Lato Regular (Google)
	Body copy — 13 pt.

Colors:
Light Blue: #00aef3
Navy: #0f2446
*/

/* Import specified font-families from google */
/* Oswald Regular and Lato Regular */
@import url(http://fonts.googleapis.com/css?family=Lato|Oswald);

/* Apply backgroundimage.jpg to the body tag and set it as the background to everything. We will then build everything on top of this background. */
body {
	background-image: url("/Users/SeestheEnemy/Code/gitrepos/DNC-Test/Front End Exercise/static/backgroundimage.jpg");
	background-size: cover;
	/* Since we are making the page liquid, and the background image has a pattern/texture, we need to set a minimum width and height to the background image so that the dimensions stay relatively consistent across platforms. */
	min-width: 40em;
	min-height: 40em;
}

/* SECTION 1: BANNER */
/*===================*/

/* Creating a style for the banner. I'm using class here instead of ID, since I will be using the same banner across all three pages.*/
.banner {
	/* Since we made the background for the entire page the blue background image, and the Host 2016 logo is transparent, we need to create a white banner that spans the width of the page that we can put the Host2016logo.png on top of. */
	background-color: white; 
	/* Setting the position of the white div serving as the background of the banner relative to the parent html tag */
	position: absolute;
	/* Positioning the banner at the top of the page and have it span the width of the page */
	top: 0;
    left: 0;
    right: 0;
    /* Setting how tall I want the banner to be. Using 'em' measurement to make it responsive.  */
    height: 7em;
    /* Making sure the banner background is always the bottom layer */
    z-index: -1;
    /*  Align the content inside, keeping it from extending outside the bounds of the div */
    padding: 1em;
}

/* Styling and positioning of HOST 2016 banner image */
#banner_img	{
	/* Centering banner image horizontally */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Centering banner image vertically. Using 'em' measurement to make it responsive */
	margin-top: 1em;
}


/* SECTION 2: Navigation Bar */
/*===========================*/
/* Create a thin white line that will serve as visual navigation path unifying the nav buttons. */
.navbar	{
	/* Set the color to white */
	background-color: white;
	/* Set the dimensions */
	height: .5em;
	/* Position the navbar */
	margin-top: 15em;
}

/* Since I will be using an h3 header tag for all of the Navigation text, and I won't be using h3 for anything else, I'll just apply it directly to the h3 element. */
h3	{
	/* Setting the color */
	color:	white;
	/* Setting the font and backup font */
	font-family: 'Oswald', sans-serif;
	/* Setting font size */
	font-size: 24pt;
	/* Setting the Position */ 
	margin-top: -2em;
	/* Allowing for navbar text alignment horizontally */
	display: inline-block;
}

/* SECTION 3: Body */
/*=================*/



/* SECTION 4: Footer */
/*===================*/
/* we are going to tell the footer at the bottom to clear: both; assuming we float the elements above*/

